nav {

	background-color: black;
	margin-top:0;


}
nav ul li  {
	text-decoration-color: none;
	color: white;
	margin-left: 80px;
	display:inline;


}
nav {
	text-decoration: none;

}
h1{
	text-decoration: none;
	color: white;
	position: absolute;
	left: 600px;
	top: 300px;
}
h2{
	text-decoration:none;
	color: white;
	position: absolute;
	left: 530px;
	top: 350px;

}
